@inherits LayoutComponentBase

<div class="page">
    <header>
        <div class="container d-flex flex-row py-4 align-items-center">
            <h1 class="pe-4">
                <a>George Wagih</a>
            </h1>
            <ul class="d-flex flex-wrap">
              <NavMenu></NavMenu>
            </ul>
        </div>
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
