<li><NavLink class="navLink" ActiveClass="active" href="https://george-wageh.github.io/portfolio" Match="NavLinkMatch.All"> <span>Home</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="about" Match="NavLinkMatch.All"><span>About</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="education" Match="NavLinkMatch.All"> <span>Education</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="experience" Match="NavLinkMatch.All"> <span>Experience</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="projects" Match="NavLinkMatch.All"> <span>Projects</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="skills" Match="NavLinkMatch.All"> <span>Skills</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="https://drive.google.com/file/d/1odTqDKmI9rBnrRitkmdxR6bdKI_5Ksfn/view" target="_blank"> <span>Resume</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="contact" Match="NavLinkMatch.All"> <span>Contact</span></NavLink></li>