<li><NavLink class="navLink" ActiveClass="active" href="https://george-wageh.github.io/GeorgePortfolio" Match="NavLinkMatch.All"> <span>Home</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="About" Match="NavLinkMatch.All"><span>About</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="Education" Match="NavLinkMatch.All"> <span>Education</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="Experience" Match="NavLinkMatch.All"> <span>Experience</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="Projects" Match="NavLinkMatch.All"> <span>Projects</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="Skills" Match="NavLinkMatch.All"> <span>Skills</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="https://drive.google.com/file/d/1odTqDKmI9rBnrRitkmdxR6bdKI_5Ksfn/view" target="_blank"> <span>Resume</span></NavLink></li>
<li><NavLink class="navLink" ActiveClass="active" href="Contact" Match="NavLinkMatch.All"> <span>Contact</span></NavLink></li>

 