@page "/Contact"
@layout MainLayout
<div class="container">
    <div class="section-title">
        Contact
    </div>
    <div class="row mt-2">
        <div class="col-md-6 d-flex align-items-stretch">
            <div class="info-box d-flex flex-row">
                <i class="fa fa-map-o"></i>
                <div class="d-flex flex-column m-3 mb-0">
                    <h3>My Address</h3>
                    <p>Cairo , Egypt</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
            <div class="info-box d-flex flex-row">
                <i class="fa fa-rss"></i>
                <div class="d-flex flex-column m-3 mb-0">
                    <h3>Social Profiles</h3>
                    <div>
                        <div class="social-links">
                            <a href="https://www.linkedin.com/in/george-wagih" class="fa fa-linkedin"></a>
                            <a href="mailto:gorgewageh604@gmail.com" class="fa fa-google"></a>
                            <a href="https://www.fb.com/GWRNG0" class="fa fa-facebook"></a>
                            <a href="https://github.com/george-wageh" class="fa fa-github"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box d-flex flex-row">
                <i class="fa fa-envelope-o"></i>
                <div class="d-flex flex-column m-3 mb-0">
                    <h3>Email</h3>
                    <p>gorgewageh604@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box d-flex flex-row">
                <i class="fa fa-phone"></i>
                <div class="d-flex flex-column m-3 mb-0">
                    <h3>Contact</h3>
                    <p>+2 01201254611</p>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .info-box {
        color: #444444;
        padding: 20px;
        width: 100%;
        background: #153134;
    }

        .info-box i{
            color: #fff;
            font-size: 24px;
            padding: 15px;
            border-radius: 100%;
            background: rgba(255, 255, 255, 0.1);
            text-align: center;
            width: 56px;
            height: fit-content;
        }
        .info-box h3 {
            font-size: 20px;
            color: #28a745;
            font-weight: 700;
            margin-bottom:15px;
        }

        .info-box p {
            padding: 0;
            color: #fff;
            line-height: 13px;
            font-size: 14px;
        }

    .social-links{
    
    }
</style>