@page "/Experience"
@layout MainLayout
<div class="container">
    <div class="section-title">
        Experience
    </div>
    <div class="row">
        <div class="col-lg-12" data-aos="fade-up">
            <div class="col-md-12 mt-4 mt-md-0 icon-box" data-aos="fade-up" data-aos-delay="100">
                <h4 style="text-align:left;">Restart Technology</h4>
                <h5 style="text-align:left;">1-2025 : Present</h5>
                <p style="text-align:left;color:#fff"><em>Backend ASP.NET Developer</em></p>
                <p style="text-align:left;color:#fff">
                    Developed and maintained modern web applications for <strong>kosoor.com.sa</strong> and <strong>washthru.com</strong>,
                    delivering robust and scalable solutions using ASP.NET Core API and .NET 9.
                    Led the design and deployment of applications on Microsoft Azure,
                    incorporating best practices in cloud architecture.
                    Implemented Hangfire for background job processing and used the MediatR library to enforce a clean, 
                    maintainable architecture.
                    Integrated user authentication, and secure API design to meet complex business requirements.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" data-aos="fade-up">
            <div class="col-md-12 mt-4 mt-md-0 icon-box" data-aos="fade-up" data-aos-delay="100">
                <h4 style="text-align:left;">Freelancing</h4>
                <h5 style="text-align:left;">1-2024 : 12-2024</h5>
                <p style="text-align:left;color:#fff"><em>MVC, Blazor, and ASP.NET Developer</em></p>
                <ul style="text-align:left;">
                    <li>Delivered dynamic web applications and solutions for various clients using ASP.NET MVC, Blazor, and .NET Core.</li>
                    <li>Developed interactive, component-based user interfaces with Blazor, ensuring high performance and scalability.</li>
                    <li>Built robust back-end systems with ASP.NET Core, incorporating secure APIs and database integration.</li>
                    <li>Collaborated with clients to gather requirements, define project scopes, and deliver tailored solutions within deadlines.</li>
                    <li>Implemented advanced features such as user authentication, authorization, and role-based access control.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section-title">
        TRAINING EXPERIENCE
    </div>
    <div class="row">
        <div class="col-lg-12" data-aos="fade-up">

            <div class="col-md-12 mt-4 mt-md-0 icon-box" data-aos="fade-up" data-aos-delay="100">
                <h4 style="text-align:left;">Practical Application</h4>
                <h5 style="text-align:left;">2022 - 2023</h5>
                <p style="text-align:left;color:#fff"><em>Projects in Web</em></p>
                <ul style="text-align:left;">
                    <li>Applied knowledge to develop multiple projects in web, showcasing advanced front-end and back-end integration.</li>
                    <li>Focused on creating secure, efficient, and user-friendly interfaces for various applications.</li>
                    <li>Implemented solutions emphasizing responsive design and optimal user experience.</li>
                </ul>
            </div>

            <div class="col-md-12 mt-4 mt-md-0 icon-box" data-aos="fade-up" data-aos-delay="100">
                <h4 style="text-align:left;">Support FCIS</h4>
                <h5 style="text-align:left;">2022</h5>
                <p style="text-align:left;color:#fff"><em>Software Testing Training</em></p>
                <ul style="text-align:left;">
                    <li>Trained on software testing fundamentals, including test case design, bug tracking, and reporting.</li>
                    <li>Worked with industry-standard tools to simulate real-world software testing scenarios.</li>
                    <li>Support FCIS is a student activity aimed at enhancing technical and soft skills for FCIS students, preparing them to mentor and support future generations effectively.</li>
                </ul>

            </div>

            <div class="col-md-12 mt-4 mt-md-0 icon-box" data-aos="fade-up" data-aos-delay="100">
                <h4 style="text-align:left;">Ain Shams University</h4>
                <h5 style="text-align:left;">2021</h5>
                <p style="text-align:left;color:#fff"><em>Web Development Training</em></p>
                <ul style="text-align:left;">
                    <li>Received comprehensive training on the foundations of web development, including HTML, CSS, and JavaScript.</li>
                    <li>Developed interactive and responsive web pages as part of the training curriculum.</li>
                </ul>

            </div>

        </div>
    </div>
</div>

<style>
    .icon-box {
        text-align: center;
        background: #153134;
        padding: 40px 40px;
        transition: all ease-in-out 0.3s;
        margin: 10px;
    }

    .icon-box h4{
            color: #209bfc;
    }
</style>