@page "/"
<div class="d-flex flex-column vh-100 justify-content-center">
    <div class="container">
        <h1 class="my-4">
            <a>George Wagih Rezk</a>
        </h1>
        <div class="d-flex flex-row">
            <h2>I'm</h2>
            <h2 class="mx-1 JobAnimated">@JobAnimated</h2>
        </div>
        <nav class="nav-menu">
            <ul class="flex-column flex-lg-row">
                <NavMenu></NavMenu>
            </ul>
        </nav>

        <div class="social-links">
            <a href="https://www.linkedin.com/in/george-wagih" class="fa fa-linkedin"></a>
            <a href="mailto:gorgewageh604@gmail.com" class="fa fa-google"></a>
            <a href="https://www.fb.com/GWRNG0" class="fa fa-facebook"></a>
            <a href="https://github.com/george-wageh" class="fa fa-github"></a>
        </div>
    </div>
</div>





@*
<div class="d-flex flex-row align-items-center">
    <img src="/icon-192.png" />
    <div class="d-flex flex-column mx-3">
        <h1>George Wagih Rezk Narallah</h1>
        <h5>Full Stack .NET Developer.</h5>
    </div>
</div>
<div class="text-center">

    <a href="#Projects" target="_top" class="navLink">
        Projects
    </a>
    <a href="#GraduationProject" target="_top" class="navLink">
        Graduation Project
    </a>
    <a href="#EcademicProjects" target="_top" class="navLink">
        Ecademic Projects
    </a>
    <a href="#TechnicalSkills " target="_top" class="navLink">
        Technical Skills
    </a>

    <a href="#Education" target="_top" class="navLink">
        Education
    </a>

    <a href="#experience" target="_top" class="navLink">
        Experience
    </a>
</div>
<div id="navBarSticky" class="text-center">
    <h1>George Wagih Rezk Narallah</h1>
    <div>
        <a href="#Projects" target="_top" class="navLink">
            Projects
        </a>
        <a href="#GraduationProject" target="_top" class="navLink">
            Graduation Project
        </a>
        <a href="#EcademicProjects" target="_top" class="navLink">
            Ecademic Projects
        </a>
        <a href="#TechnicalSkills " target="_top" class="navLink">
            Technical Skills
        </a>

        <a href="#Education" target="_top" class="navLink">
            Education
        </a>

        <a href="#experience" target="_top" class="navLink">
            Experience
        </a>
    </div>

</div>
<div id="Projects" name="Projects" class="m-4">
    <h5>Projects</h5>
    <h6>
        Market DotNet
    </h6>
    <div class="mx-2">
        Technologies: Blazor, .NET, SQL Server
        <br />
        Developed a scalable e-commerce platform with separate user and administrator sections:
        <br />
        - User Features: Registration, address management, shopping cart, favorites list, product details,
        payment processing, and order tracking.
        <br />
        - Admin Features: User account management, product/category management, and order/payment oversight.
    </div>

    <h6>
        MediaCenter DotNet
    </h6>
    <div class="mx-2">
        Technologies: ASP.NET MVC, .NET, SQL Server
        <br />
        Built a media streaming platform with a three-server architecture for efficient functionality:
        <br />
        - User Server: Enables browsing and saving movies, series, and music.
        <br />
        - Admin Server: Supports media and category management, admin account creation, and media uploads.
        <br />
        - Media Processing Server: Handles large file uploads and optimizations for playback
    </div>

    <h6>
        DealsEg DotNet
    </h6>
    <div class="mx-2">
        Technologies: ASP.NET MVC, Selenium, Telegram API
        <br />
        Developed an automation tool for affiliate marketing that:
        <br />
        - Extracts product details and takes screenshots of pages, including seller and price.
        <br />
        - Generates and shares branded content on Telegram with cashback links for commission tracking.
        <br />
    </div>

    <h6>
        Paint
    </h6>
    <div class="mx-2">
        A web-based drawing application implemented using JavaScript and HTML with Canvas.
        <br />
        Includes tools such as brush, erase, paint, pick color, and pencil.
    </div>
</div>

<div id="GraduationProject" name="GraduationProject" class="m-4">
    <h5>
        Graduation Project
    </h5>
    <div class="mx-2 my-2">
        <h6>
            Obscura Text-to-Image Generation
        </h6>
        <div class="mx-2">
            Obscura is the graduation project, a text-to-image diffusion model supporting both Arabic and
            English languages, allowing users to select specific themes.
            <br />
            Achieved an A+ grade.
            <br />
            Languages and Tools Used: Python, CUDA, Firebase, Gradio, Colab

        </div>
    </div>
</div>

<div id="EcademicProjects" name="EcademicProjects" class="m-4">
    <h5>
        Ecademic Projects
    </h5>
    <div class="mx-2 my-2">
        <h6>
            Security Package
        </h6>
        <div class="mx-2">
            Implemented various encryption algorithms including AES, DES, RSA, Diffie-Hellman, Repeating
            <br />
            Key Vigenere, Rail Fence, Playfair, Monoalphabetic, Hill Cipher, Columnar, Caesar, and Autokey Vigenere.
            <br />
            Languages Used: C#
        </div>
    </div>
</div>

<div id="TechnicalSkills" name="TechnicalSkills" class="m-4">
    <h5>
        Technical Skills
    </h5>
    <div class="mx-2 my-2">
        <h6>
            Programming Languages:
        </h6>
        <div class="mx-2">
            C#, C++, C, Python, Java, JavaScript
        </div>
    </div>

    <div class="mx-2 my-2">
        <h6>
            Frontend Technologies:
        </h6>
        <div class="mx-2">
            Blazor, ASP.NET MVC, HTML5, CSS3, Bootstrap
        </div>
    </div>

    <div class="mx-2 my-2">
        <h6>
            Backend & Tools:
        </h6>
        <div class="mx-2">
            .NET Core, Web API, Entity Framework, JWT Authentication
        </div>
    </div>

    <div class="mx-2 my-2">
        <h6>
            Databases:
        </h6>
        <div class="mx-2">
            MS-SQL, Oracle SQL
        </div>
    </div>
</div>
<div id="Education" name="Education" class="m-4">
    <h5>
        Education
    </h5>
    <div class="mx-2 my-2">
        <h6>
            Bachelor of Computer Science and Information:
        </h6>
        <div class="mx-2">
            Ain Shams University | Department: Computer Science
            Graduation Year: 2024
            <br />
            - Grade: Very Good (B)
            <br />
            - CGPA: 3.228 / 4
            <br />
            - Honors: Graduated with Honors
        </div>
    </div>

</div>
<div id="Experience" name="Experience" class="m-4">
    <h5>Experience</h5>
</div>

<div>
    ........ ........... ..........
    ........ ........... ..........
    ........ ........... ..........
    ........ ........... ..........
    ........ ........... ..........
    ........ ........... ..........
    ........ ........... ..........
</div>
<style>
    h1 {
        font-size: 30px;
    }

    h5 {
        color: #0404a3;
    }

    h6 {
        color: #2f63ad;
    }

    #navBarSticky{
        position:sticky;
        top:0px;
        display:none;
        backdrop-filter: blur(8px);
    }
    .navLink {
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 5px;
        margin: 5px;
    }

        .navLink:hover {
            color: blue;
        }
</style>

<script>
    window.onscroll = () => {
        if (window.scrollY >= 240) {
            navBarSticky.style.display = 'block'; // Show the div
        } else {
            navBarSticky.style.display = 'none'; // Hide the div
        }
    };
</script> *@