
.JobAnimated {
    border-bottom: 2px #8ecdff solid;
    padding-bottom: 3px;
    color: #209bfc;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}
.social-links a:hover {
    background-color: #209bfc;
}
.nav-menu {
    margin-top: 25px;
    margin-bottom: 40px;
}

    .nav-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }