@page "/Skills"
@layout MainLayout
<div class="container">
    <div class="section-title">
        Skills
    </div>
    <div class="row">
        <div class="col-lg-12" data-aos="fade-up">
            <div class="col-md-12 mt-4 mt-md-0 icon-box" data-aos="fade-up" data-aos-delay="100" style="background:#fff">
                <h4 style="text-align:left;color:#09203a">Languages and Databases</h4>
                <p style="text-align:left;">

                    <img src="https://w7.pngwing.com/pngs/929/60/png-transparent-net-framework-c-net-core-software-framework-mono-studio-purple-studio-violet-thumbnail.png" alt="vectorlogo.zone" height="60" style="object-fit:contain;">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/microsoft-sql-server-logo-svg-vector.svg" alt="vectorlogo.zone" height="70" width="130">
                    <img src="https://www.vectorlogo.zone/logos/w3_html5/w3_html5-ar21.svg" alt="vectorlogo.zone">
                    <img src="https://www.vectorlogo.zone/logos/javascript/javascript-ar21.svg" alt="vectorlogo.zone">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" alt="upload.wikimedia.org" height="60" width="90">
                    <img src="https://www.vectorlogo.zone/logos/python/python-horizontal.svg" alt="vectorlogo.zone" height="50" width="150">

                </p>
            </div>
            <div class="col-md-12 mt-4 mt-md-0 icon-box" data-aos="lefade-up" data-aos-delay="100" style="background:#fff">
                <h4 style="text-align:left;color:#09203a">Frameworks</h4>
                <p style="text-align:left;">
                    <img src="https://e7.pngegg.com/pngimages/673/239/png-clipart-entity-framework-core-asp-net-core-net-framework-microsoft-blue-text-thumbnail.png" alt="vectorlogo.zone" width="80">
                    <img src="https://user-images.githubusercontent.com/58300181/118834163-ec6da000-b8b9-11eb-98dc-5e604c11e79f.png" width="140" alt="vectorlogo.zone">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Blazor.png/800px-Blazor.png" width="70" alt="vectorlogo.zone">
                    <img src="https://www.vectorlogo.zone/logos/getbootstrap/getbootstrap-ar21.svg" alt="vectorlogo.zone">

                </p>
            </div>
            <div class="col-md-12 mt-4 mt-md-0 icon-box" data-aos="lefade-up" data-aos-delay="100" style="background:#fff">
                <h4 style="text-align:left;color:#09203a">Tools</h4>
                <p style="text-align:left;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Visual_Studio_Icon_2022.svg/1200px-Visual_Studio_Icon_2022.svg.png" width="70" alt="vectorlogo.zone">
                    <img src="https://download.logo.wine/logo/Microsoft_Azure/Microsoft_Azure-Logo.wine.png" alt="vectorlogo.zone" width="150">
                    <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-ar21.svg" alt="vectorlogo.zone">
                    <img src="https://www.vectorlogo.zone/logos/google_cloud/google_cloud-ar21.svg" alt="vectorlogo.zone">
                </p>
            </div>
        </div>
    </div>
</div>
<style>
     .icon-box {
        text-align: center;
        background: #09203a;
        padding: 40px 40px;
        transition: all ease-in-out 0.3s;
        margin: 10px;
    }

</style>