@inherits ProjectsContent
<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>DealsEg DotNet</h2>
            <h6><i>MVC , .NET, Telegram Api , and Selenium</i></h6>
        </center>
        Features:
        <br />
        1. The user inputs the product ID.
        <br />
        2. The tool opens Chrome, takes a screenshot of the product page, highlighting the seller and the
        price.
        3. It adds the logo of the page to the screenshot.
        <br />
        4. The tool then sends the screenshot to Telegram, along with the product link and information
        about the cashback page.
        <br />
        5. For every purchase made through the provided link, you earn a commission.
        <br />
        <center>
            <img style="height:250px;" src="projects/DealsEgDotNet/icon.png" />
        </center>
    </div>
</div>


<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>DealsEg DotNet</h2>
            <h6><i>MVC , .NET, Telegram Api , and Selenium</i></h6>
        </center>
        <center>
            <img src="projects/DealsEgDotNet/DealsEgDotNet00.png" />
            <i>
                Figure 2 Enter product id.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>DealsEg DotNet</h2>
            <h6><i>MVC , .NET, Telegram Api , and Selenium</i></h6>
        </center>
        <center>
            <img src="projects/DealsEgDotNet/DealsEgDotNet01.png" />
            <i>
                Figure 3 Generated post.
            </i>
        </center>
    </div>
</div>



<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>DealsEg DotNet</h2>
            <h6><i>MVC , .NET, Telegram Api , and Selenium</i></h6>
        </center>
        <center>
            <img src="projects/DealsEgDotNet/DealsEgDotNet02.png" />
            <i>
                Figure 4 After clicked send.
            </i>
        </center>
    </div>
</div>

