@inherits ProjectsContent
<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
     <h1>
            Game Center: Mario and X-O Games
     </h1>
     <div>
            This project is a web-based gaming platform that includes two exciting games: Mario and X-O. It is developed using HTML, CSS, and JavaScript, offering users a fun and interactive experience directly in their web browser.
     </div>
     <div>
            Features
            <br />
            1. Mario Game
            <br />
            A side-scrolling platform game inspired by the classic Super Mario.
            <br />
            Players control Mario as he navigates through a colorful world, avoiding obstacles, collecting coins, and defeating enemies.
            <br />
            Features include:
            <br />
            Smooth animations and controls for movement (jumping, running, etc.).
            <br />
            Levels designed with increasing difficulty and challenges.
            <br />
            Background music and sound effects for an immersive experience.
            <br />
            2. X-O Game
            <br />
            A classic Tic-Tac-Toe game (X-O) that can be played by two players.
            <br />
            Features include:
            <br />
            A 3x3 grid where players take turns marking cells with X or O.
            <br />
            Win detection for horizontal, vertical, or diagonal matches.
            <br />
            Reset button to start a new game after a win, loss, or draw.
     </div>

    </div>
</div>



<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h1>
            Game Center: Mario and X-O Games
        </h1>
        <center>
            <img src="projects/GamesWebsite/01.png"/>
        </center>
    </div>
</div>


<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h1>
            Game Center: Mario and X-O Games
        </h1>
        <center>
            <img src="projects/GamesWebsite/02.png" />
        </center>
    </div>
</div>
