@inherits ProjectsContent
<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h1>
            Matrices Builder.
        </h1>
        <div>
            This project is a web application designed to help users learn about and create various types of matrices. It allows users to input dimensions (length and width) and specify values to build matrices. The application also provides definitions and characteristics of common matrix types, making it both educational and interactive.
            <br />
        </div>
        <div>
            Features
            <br />
            1. Matrix Definitions
            <br />
            The application explains the following matrix types:
            <br />
            Identity Matrix: A square matrix with ones on the main diagonal and zeros elsewhere.
            <br />
            Zero Matrix: A matrix where all elements are zero.
            <br />
            Square Matrix: A matrix with an equal number of rows and columns.
            <br />
            Triangular Matrix: A square matrix where all elements above or below the main diagonal are zero (upper or lower triangular).
            <br />
            Symmetric Matrix: A square matrix that is equal to its transpose.
            <br />
            Skew-Symmetric Matrix: A square matrix where the transpose is the negative of the original matrix.
            <br />
            Diagonal Matrix: A square matrix with non-zero elements only on the main diagonal.
            <br />
            2. Matrix Creation
            <br />
            Users can define the dimensions (number of rows and columns) of the matrix.
            <br />
            Users can input values for the matrix elements to customize its content.
            <br />
            The application can validate the input to ensure it aligns with the selected matrix type.
            <br />
            3. Interactive Interface
            <br />
            A user-friendly interface simplifies the process of selecting matrix types and entering values.
            <br />
        </div>
    </div>
</div>



<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h1>
            Matrices Builder.
        </h1>
        <center>
            <img src="projects//MatricesBuilder/01.png"/>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h1>
            Matrices Builder.
        </h1>
        <center>
            <img src="projects//MatricesBuilder/02.png" />
        </center>
    </div>
</div>
