@inherits ProjectsContent


@for(int i = 1 ;i<=50; i++)
{
    @if (i == 35)
    {
        <div class="content @(Idx==idxCounter?"contentActive":"")">
            @{
                idxCounter++;
            }
            <div>
                <center><h1>Overview Video</h1></center>
                <center>
                    <video controls src="projects/Obscura/ppt1/overview video.mp4" />
                </center>
            </div>
        </div>
    }
    else
    {
        <div class="content @(Idx==idxCounter?"contentActive":"")">
            @{
                idxCounter++;
            }
            <div>
                <center>
                    <img src="projects/Obscura/ppt1/@(i).png" />
                </center>
            </div>
        </div>
    }
  
}
