@inherits ProjectsContent
<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
       <center>
            <h1>
                Paint Application
            </h1>
       </center>
        <div>
            This project is a web-based drawing application developed using HTML, CSS, and JavaScript. It provides users with a simple and interactive interface to create and edit drawings on a digital canvas. Below is a breakdown of the features included in this application:
        </div>
        <p>
            Features
            <br />
            1. Brush Tool
            <br />
            The brush tool allows users to draw freely on the canvas with a customizable brush size and color.
            <br />
            It mimics the behavior of a real paintbrush, making it suitable for sketching or filling areas with smooth strokes.
            <br />
            2. Erase Tool
            <br />
            This tool enables users to erase specific parts of their drawing by selecting and "removing" content from the canvas.
            <br />
            The eraser size can be adjusted to allow for precise or broad erasure.
            <br />
            3. Paint Tool
            <br />
            The paint tool fills an entire area with a selected color.
            <br />
            It works similarly to a "bucket fill" tool found in popular graphic design applications, filling closed regions on the canvas.
            <br />
            4. Pick Color
            <br />
            This tool allows users to pick a specific color from the canvas.
            <br />
            By clicking on an area of the drawing, the selected color becomes the active color for the brush, pencil, or paint tools.
            <br />
            5. Pencil Tool
            <br />
            The pencil tool is designed for precise and detailed drawing, producing thin and accurate lines.
            <br />
            It is ideal for sketching finer details or adding outlines to the artwork.
            <br />
        </p>
    </div>
</div>



<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h1>
                Paint Application
            </h1>
        </center>
        <img src="projects/Paint/01.png"/>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h1>
                Paint Application
            </h1>
        </center>
        <img src="projects/Paint/02.png" />
    </div>
</div>