@inherits ProjectsContent
<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h1>Pyramids C# , Opengl</h1>
        <div>
            This project is a graphics and animation application developed using C# in combination with OpenGL, a powerful graphics library. It showcases the ability to create interactive, animated objects and provides a way for users to control these objects using keyboard input.
        </div>
        <div>
            Features
            <br />
            1. Drawing with OpenGL
            <br />
            Objects are drawn using OpenGL functions, leveraging its ability to render 2D and 3D graphics efficiently.
            Shapes, colors, and patterns are customized to create visually appealing designs.
            <br />
            2. Animation
            <br />
            The project includes smooth animations for the drawn objects.
            <br />
            Animation is achieved by dynamically updating the position, scale, rotation, or other properties of the objects in real time.
            <br />
            3. Keyboard Control
            <br />
            Users can interact with the animated object using keyboard inputs.
            <br />
            Specific keys are mapped to different actions, such as:
            <br />
            Arrow Keys: Move the object up, down, left, or right.
            <br />
            Other Keys: Perform actions like rotation, scaling, or changing colors.
            <br />
            4. Real-Time Rendering
            <br />
            The rendering loop ensures that animations and interactions are processed in real time.
            <br />
            OpenGL ensures smooth performance by leveraging the GPU for rendering.
            <br />
        </div>

    </div>
</div>


<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h1>Pyramids C# , Opengl</h1>
         Demo:
        <center>
            <video controls src="https://github.com/george-wageh/Build-3D-Pyramids-using-opengl/raw/refs/heads/main/video%20.mp4"></video>
        </center>
    </div>
</div>

