@inherits ProjectsContent
<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h2>Modal Title</h2>
        <p>@idxCounter</p>
        <p>@Idx</p>
        <p>22222</p>
        <p>This is a custom modal window.</p>
        <p>This is a custom modal window.</p>
        <p>This is a custom modal window.</p>
        <p>This is a custom modal window.</p>
        <p>This is a custom modal window.</p>
        <img src="https://rajaprerak.github.io/assets/img/project/musicplayer.jpg" />
        <center><i>This is a custom modal window</i></center>
    </div>
</div>

