@inherits ProjectsContent
<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h1>
            Windows XP GUI Emulator.
        </h1>

        <div>
            This project is a web-based emulator that replicates the graphical user interface (GUI) of the classic Windows XP operating system. It is developed using HTML, CSS, and JavaScript to provide a nostalgic and interactive experience directly in a web browser.
        </div>
        Features
        <div class="ms-2">
            1. Authentic Windows XP Design
            <br />
            The project replicates the visual design of Windows XP, including its:
            <br />
            Desktop icons
            <br />
            Taskbar and Start Menu
            <br />
            Window styles and title bars
            <br />
            The attention to detail provides an experience close to the original operating system.
            <br />
            2. Interactive Desktop
            <br />
            The desktop features clickable icons that open simulated applications or display dialogs.
            <br />
            Users can interact with icons to mimic typical Windows XP behavior.
            <br />
            3. Taskbar and Start Menu
            <br />
            The taskbar includes a Start button, system tray, and clock.
            <br />
            Clicking the Start button opens a menu with various options, resembling the original layout of Windows XP.
            <br />
            4. Resizable and Movable Windows
            <br />
            Simulated application windows can be dragged, minimized, maximized, and closed.
            <br />
            Windows are styled to match the classic Windows XP appearance.
            <br />
            5. Functional Shortcuts
            <br />
            Desktop icons and Start Menu options link to specific functionalities or pop-ups, mimicking real applications.
            <br />
        </div>
    </div>
</div>



<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h1>
            Windows XP GUI Emulator.
        </h1>
        <center>
            <img  src="projects/WinXp/00.png"/>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <h1>
            Windows XP GUI Emulator.
        </h1>
        <center>
            <img src="projects/WinXp/01.png" />
        </center>
    </div>
</div>